:root {
  --primary-background-color: black;
  --alt-background-color: #22242a;
  --primary-font-color: whitesmoke;
  --alt-font-color: #fc3641;
}

/*BODY*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--primary-background-color);
  color: var(--primary-font-color);
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  font-size: 1.1rem;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--primary-font-color);
  transition: color 2s;
}

a:hover {
  color: var(--alt-font-color);
  cursor: pointer;
}
/*NAVBAR*/
#header {
  width: 100%;
  background-color: var(--alt-background-color);
  position: fixed;
}

.nav-menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.menu-item {
  font-size: 1.5rem;
  margin: 2rem;
  padding-right: 3rem;
}

.menu-item img {
  max-width: 144px;
}

#logo {
  max-width: 150px;
}

/*NAVBAR MOBILE*/
.hamburger {
  position: relative;
  z-index: 100;
  padding: 4px;
  cursor: pointer;
}

.hamburger,
.close-icon {
  display: none;
}

@media screen and (max-width: 1275px) {
  .hamburger {
    position: fixed;
    z-index: 100;
    top: 4rem;
    left: 1rem;
    padding: 1px;
    border: none;
    cursor: pointer;
    display: block;
    background: none;
  }

  .nav-menu {
    flex-direction: column;
    position: fixed;
    transform: translateY(-100%);
    transition: transform 0.2s;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    background: var(--alt-background-color);
    color: white;
    list-style: none;
    padding-top: 4rem;
  }

  .menu li {
    padding-bottom: 3rem;
  }

  .showMenu {
    transform: translateY(0);
  }
}

.fa-bars,
.fa-xmark {
  color: whitesmoke;
}

/*DROPDOWN MENU*/

.dropdown {
  text-align: center;
  transform: scale(0);
  transform-origin: top center;
  transition: all 300ms ease-in-out;
}

.dropdown li {
  display: none;
  font-size: 1rem;
  padding: 8px 0;
  color: white;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  transform: scale(0);
  transform-origin: top center;
  transition: all 300ms ease-in-out;
}
.dropdown li:last-child {
  border-bottom: 0;
}

.nav-menu > li:hover .dropdown li {
  display: block;
  transform: scale(1);
}
.nav-menu > li:hover .dropdown {
  transform: scale(1);
}

/*MAIN*/
#main section {
  margin-left: 700px;
  margin-right: 700px;
  margin-bottom: 2rem;
  text-align: center;
}

#introduction {
  padding-top: 400px;
  height: 100vh;
  font-size: 1.3rem;
  text-align: center;
  background-image: url(./images/jake-hinds-LzhKgc9sBKg-unsplash.jpg);
}

.section-title {
  font-size: 2.3rem;
  margin: 1rem;
}

.introduction-menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.intro-element {
  margin: 1rem;
}

.info {
  padding: 1rem;
}

#video-container,
#gear-container {
  display: flexbox;
  flex-wrap: wrap;
  margin: 0;
  padding: 20px 10px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

#video-container img {
  width: 80%;
  max-width: 450px;
  height: 450px;
  object-fit: scale-down;
  border-radius: 25px;
  border: 3px solid rgb(151, 150, 150);
  transition: border 1s;
}

#gear-container img {
  width: 80%;
  max-width: 450px;
  height: 450px;
  object-fit: scale-down;
  border-radius: 25px;
  border: 3px solid rgb(0, 0, 0);
  transition: border 2s;
}

#gear-container div {
  margin: 1rem;
  padding-bottom: 0.5rem;
  border-bottom: 3px solid var(--primary-font-color);
}

#video-container img:hover,
#gear-container img:hover {
  border: 3px solid whitesmoke;
  cursor: pointer;
}

#video-container::after,
#gear-container::after {
  content: "";
  width: 350px;
}

/*ARROW*/

.arrow {
  padding: 2rem;
  border: 4px solid white;
  border-radius: 3rem;
  transition: border 2s;
}

.arrow:hover {
  border: 4px solid var(--alt-font-color);
}

/*FOOTER*/
#footer {
  text-align: center;
  clear: both;
  background-color: var(--alt-background-color);
}

.footer-menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.footer-menu-item {
  margin: 1rem;
}

#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: var(--color-alt); /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

/*MEDIAQUERY*/
@media screen and (max-width: 1855px) {
  #main section {
    margin-left: 500px;
    margin-right: 500px;
  }
}

@media screen and (max-width: 1450px) {
  .menu-item {
    padding-right: 1rem;
  }
}

@media screen and (max-width: 1400px) {
  #main section {
    margin-left: 300px;
    margin-right: 300px;
  }
}

@media screen and (max-width: 1000px) {
  #main section {
    margin-left: 150px;
    margin-right: 150px;
  }
}

@media screen and (max-width: 740px) {
  #main section {
    margin-left: 75px;
    margin-right: 75px;
  }
}

@media screen and (max-width: 550px) {
  #main section {
    margin-left: 35px;
    margin-right: 35px;
  }
}

@media screen and (max-width: 400px) {
  #main section {
    margin-left: 0px;
    margin-right: 0px;
  }
}

/*SWIPER*/
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
