:root {
  --primary-background-color: #2e3440;
  --background-color-alt: #434c5e;
  --primary-font-color: whitesmoke;
  --alt-font-color: #8195ba;
}

/*BODY*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: var(--primary-font-color);
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  background-color: var(--primary-background-color);
}

a {
  color: var(--primary-font-color);
  text-decoration: none;
  transition: color 1.3s;
}

a:hover {
  color: var(--alt-font-color);
}

li {
  list-style: none;
}
/*NAVBAR*/
#header {
  position: fixed;
  width: 100%;
  background-color: var(--background-color-alt);
}

.menu {
  font-size: 1.4rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.menu-item {
  padding-right: 5rem;
  margin: 2rem;
}

/*NAVBAR MOBILE*/
.hamburger {
  position: relative;
  z-index: 100;
  padding: 4px;
  cursor: pointer;
}

.hamburger,
.close-icon {
  display: none;
}

.fa-xmark {
  display: none;
}

@media screen and (max-width: 1230px) {
  .hamburger {
    position: fixed;
    z-index: 999;
    top: 4rem;
    left: 1rem;
    padding: 1px;
    border: none;
    cursor: pointer;
    display: block;
    background: none;
  }

  .menu {
    flex-direction: column;
    position: fixed;
    transform: translateY(-100%);
    transition: transform 0.2s;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
    background: var(--background-color-alt);
    color: white;
    list-style: none;
    padding-top: 4rem;
  }

  .menu li {
    font-size: 2rem;
    margin: 1.5rem;
    padding-bottom: 2rem;
    padding-right: 1rem;
  }

  .showMenu {
    transform: translateY(0);
  }

  .logo {
    display: block;
    text-align: center;
  }
}

.fa-bars,
.fa-xmark {
  color: whitesmoke;
}

/*MAIN*/
#main {
  padding-top: 200px;
  text-align: center;
}

#about {
  height: 100vh;
}

.section-title {
  margin: 2rem;
  font-size: 2rem;
}

.about-info {
  padding-top: 300px;
  margin: 3rem;
  font-size: 2rem;
}

.info {
  font-weight: 700;
}

.contact-menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.contact-item {
  margin: 1rem;
}

.portfolio-container {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 20px 10px;
  flex-direction: row;
  justify-content: center;
  align-items: right;
  gap: 16px;
}

.portfolio-container img {
  width: 80%;
  max-width: 350px;
  height: 350px;
  object-fit: contain;
  border-radius: 25px;
  border: 1rem solid #434c5e;
}

.portfolio-container div {
  width: 80%;
  max-width: 500px;
  height: 500px;
  object-fit: cover;
  border-radius: 25px;
  border: 3px solid #434c5e;
  transition: border 1.5s;
}

.portfolio-container div:hover {
  border: 0.8rem solid #81a1c1;
}

#portfolio-container a {
  color: white;
  text-decoration: none;
}

#portfolio {
  background-image: linear-gradient(
    to right top,
    #2e3440,
    #323845,
    #363d4b,
    #3a4150,
    #3e4656,
    #3e4656,
    #3e4656,
    #3e4656,
    #3a4150,
    #363d4b,
    #323845,
    #2e3440
  );
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
/*FOOTER*/
#footer {
  margin-top: 1rem;
  text-align: center;
  background-color: var(--background-color-alt);
  padding: 2rem;
}
/*MEDIAQUERY*/
@media screen and (max-width: 400px) {
  .contact-item {
    margin: 0.3rem;
  }
}
/*ARROW*/

.arrow {
  padding: 2rem;
  border: 4px solid white;
  border-radius: 3rem;
  transition: border 2s;
}

.arrow:hover {
  border: 8px solid white;
}

/*REVEAL*/
.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
}

.reveal.active {
  transform: translateY(0);
  opacity: 1;
}
