body {
    color: whitesmoke;
    font-family: Helvetica;
    background-image: linear-gradient(to right top, #051937, #003657, #00535b, #006e40);
    overflow-x: hidden; /* Hide horizontal scrollbar */
    
}
#logo {
    text-align: center;
    margin: 0;
    padding: 0;
}
#stopka {
    clear: both;
    text-align: center;

}
footer { 
    clear: both;
    text-align: center;
}

#main {
    padding-top: 65px;
    padding-bottom: 65px;
    width: 100%;
    text-align: center;
    overflow-x:auto;

}
#info {
    margin: 200px;
    padding: 60px;
    width: 100%;
    text-align: center;
    
}
a:link , a:visited {
    text-decoration: none;
    color: whitesmoke;
    font-family: 'Brush Script MT', cursive;
    background-color: #00535b;
    border-radius: 25px;
    border: solid #006e40;
}
#nav-bar {
    text-align: center;
    font-size: 40px;
    letter-spacing: 5px;
}

table {
    padding: 50px;
    margin: 10px;
    text-align: center;
    width: 100%;
    
}

td:hover {
    background-color: aliceblue;
}

td {
    padding: 25px;
}

a:hover {
    color: yellow;
    text-decoration: none;
}

h1 {
    text-align: center;
}

p {
    text-align: center;
}

h2 {
    text-align: center;
}

i {
    color: yellow;
}

#navbar {
    position: fixed; /* Make it stick/fixed */
    top: -50px; /* Hide the navbar 50 px outside of the top view */
    width: 100%; /* Full width */
    transition: top 0.3s; /* Transition effect when sliding down (and up) */
    background-color: black;
    background-image: linear-gradient(to right top,  #003657, #00535b);
}

#navbar {
    text-align: center;
    font-size: 40px;
    letter-spacing: 5px;
}

/* Style the navigation menu */
.topnav {
    overflow: hidden;
    background-image: linear-gradient(to right top, #051937, #003657, #00535b, #006e40);
    position: relative;
    border-radius: 25px;
  }
  
  /* Hide the links inside the navigation menu (except for logo/home) */
  .topnav #myLinks {
    display: none;
    text-align: center;
  }
  
  /* Style navigation menu links */
  .topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
    background-image: linear-gradient(to right top, #051937, #003657, #00535b, #006e40);
  }
  
  /* Style the hamburger menu */
  .topnav a.icon {
    background-image: linear-gradient(to right top, #051937, #003657, #00535b, #006e40);
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    border-radius: 25px;
  }
  
  /* Add a grey background color on mouse-over */
  .topnav a:hover {
    color: yellow;
    text-decoration: none;
  }
  
  /* Style the active link (or home/logo) */
  .active {
    background-color: #04AA6D;
    color: white;
  }

