/*BODY*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  background-image: linear-gradient(
    to right bottom,
    #414141,
    #4c4c4c,
    #575757,
    #626262,
    #6d6d6d,
    #6d6d6d,
    #6d6d6d,
    #6d6d6d,
    #626262,
    #575757,
    #4c4c4c,
    #414141
  );
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: whitesmoke;
}

/*MAIN*/
#calculator-grid {
  display: grid;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: minmax(120px, auto) repeat(5, 100px);
  margin: 0 auto;
  color: whitesmoke;
}

#calculator-grid > button {
  cursor: pointer;
  font-size: 2rem;
  border: 5px solid #606770;
  outline: none;
}

.span-two {
  grid-column: span 2;
  border-radius: 0;
  background-color: #545659;
  color: whitesmoke;
}

#output {
  grid-column: 1 / -1;
  background-color: #56585c;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  padding: 10px;
  flex-direction: column;
  word-wrap: break-word;
  word-break: break-all;
  color: white;
  border-radius: 8%;
  border: 5px solid #606770;
}

#output .previous-operand {
  font-size: 1.5rem;
}

#output .current-operand {
  font-size: 2.5rem;
}

.number {
  background-color: #44464a;
  color: whitesmoke;
  border-radius: 15%;
}

.operation {
  background-color: #545659;
  color: whitesmoke;
  border-radius: 15%;
}

.operation:hover {
  background-color: #5e6063;
}

.number:hover {
  background-color: #4f5053;
}

.number:active,
.operation:active,
.span-two:active {
  background-color: rgb(177, 177, 177);
}
