/*BODY*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: linear-gradient(
    to right top,
    #161616,
    #151515,
    #141415,
    #131314,
    #111213,
    #111213,
    #111213,
    #111213,
    #131314,
    #141415,
    #151515,
    #161616
  );
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
  font-family: "Roboto", sans-serif;
  text-align: center;
}

body a {
  color: white;
  text-decoration: none;
}

body a:hover {
  border-bottom: 2px solid white;
}

ul {
  list-style: none;
}
/*NAVBAR*/
#header-top {
  background-image: linear-gradient(
    to right bottom,
    #2e2b2b,
    #2b2728,
    #272426,
    #232124,
    #1e1e21,
    #1e1e21,
    #1e1e21,
    #1e1e21,
    #232124,
    #272426,
    #2b2728,
    #2e2b2b
  );
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  top: 0;
}

#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#navbar ul {
  display: flex;
  margin-top: 50px;
}

#navbar a {
  margin: 25px;
  font-size: 20px;
  padding-bottom: 7px;
}

#navbar,
#logo {
  width: 50%;
}
/*MAIN*/

#about {
  height: 100vh;
  margin: 100px 500px 0 500px;
}

#games-gallery {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 20px 10px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

#games-gallery div {
  border: 2px solid #2b2728;
}

#games-gallery img {
  width: 80%;
  max-width: 350px;
  height: 350px;
  object-fit: cover;
  border-radius: 25px;
}

.game-info {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

#links {
  margin: 25px;
}

/*FOOTER*/
#footer {
  background-image: linear-gradient(
    to right bottom,
    #2e2b2b,
    #2b2728,
    #272426,
    #232124,
    #1e1e21,
    #1e1e21,
    #1e1e21,
    #1e1e21,
    #232124,
    #272426,
    #2b2728,
    #2e2b2b
  );
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 200px;
  padding-top: 50px;
}

#contact {
  padding-top: 20px;
}
