/*BODY*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: linear-gradient(
    to right top,
    #161616,
    #151515,
    #141415,
    #131314,
    #111213,
    #111213,
    #111213,
    #111213,
    #131314,
    #141415,
    #151515,
    #161616
  );
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

/*NAVBAR*/

/*MAIN*/


#about {
  height: 100vh;
  margin: 100px 500px 0 500px;
}

#games-gallery {
  display: flexbox;
    flex-wrap: wrap;
    margin: 0;
    padding: 20px 10px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

#games-gallery img{
  width: 80%;
  max-width: 350px;
  height: 350px;
  object-fit: cover;
  border-radius: 25px;
  border: 3px solid rgb(151, 150, 150);
}

/*FOOTER*/
#footer {
}